<form class="form">
  <div class="mb-3">
    <input type="file" name="" class="form-control">
  </div>
  <div class="mb-3">
    <input type="text" name="" class="form-control" placeholder="titre de l'article">
  </div>
  <div class="mb-3">
    <input type="text" name="" class="form-control" placeholder="catégories">
  </div>
  <div class="mb-3">
    <textarea class="form-control" placeholder="contenu de l'article"></textarea>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    publier
  </label>
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>