{% extends "base.html.twig" %}

{% block title %}Modifier | {{ parent() }}{% endblock %}

{% block content %}
<section class="container fixed-width pt-3">
    <h4 class="mb-3">Modifier l'article {{ article.title }}</h4>
      {% if article.picture is not null %}
        <img src="{{ asset('uploads/' ~ article.picture) }}" width="300">
      {% endif %}
    <div class="row mt-2">
      {% include "includes/article_form.html.twig" %}
    </div>
</section>
{% endblock %}

